/* body {
  background-image: url("https://images.pexels.com/photos/592753/pexels-photo-592753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
} */
.container {
  border: rgb(12, 0, 124) solid 2px;
  border-radius: 8px;
  max-width: 650px;
  max-height: 100%;
}
.weatherApp {
  margin: auto;
  max-width: 600px;
}
