body {
  background-color: #6f8193;
}
.container {
  background: url("https://images.pexels.com/photos/2627945/pexels-photo-2627945.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=650");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: radial-gradient(#f1f1b9, #f1e83b, #ffe37c, #f3d47f, #fffcd3);*/
  border: rgb(186, 113, 12) solid 6px;
  border-radius: 8px;
  max-width: 650px;
  max-height: 100%;
}
.weatherApp {
  margin: auto;
  max-width: 600px;
}
h1 {
  color: floralwhite;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
}

h3 {
  color: floralwhite;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 0px;
  text-transform: capitalize;
}
h4 {
  background-color: rgba(0, 66, 105, 0.3);
  color: floralwhite;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}
h5 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}
footer {
  color: floralwhite;
  font-size: 12px;
  padding-bottom: 15px;
}
.current-button {
  position: relative;
  left: -65px;
  background-color: rgb(21, 124, 184);
  color: white;
  padding: 5px 30px;
  border-radius: 6px;
}
.current-button:hover {
  background: rgb(93, 160, 199);
  color: black;
  cursor: pointer;
}
.card-body2,
.card-body3 {
  text-align: center;
  font-size: 40px;
  background: rgba(0, 66, 105, 0.2);
  padding-top: 5px;
}
.wx-planner {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.wx-forecast {
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
}
.card {
  border: rgb(12, 0, 124) solid 2px;
  border-radius: 4px;
}
/*.big-temp {
  padding: opx;
  max-height: 18rem;
  border: none;
}*/
.rightside {
  background: rgba(203, 229, 255, 0.3);
  border: none;
}
.tempNow {
  color: floralwhite;
  font-size: 75px;
  margin-bottom: 0;
  position: relative;
  top: -90px;
  right: -155px;
  padding: 0;
}
.icon {
  image-size: 75px;
  position: relative;
  top: -5px;
}
.units {
  position: relative;
  top: -190px;
  right: -210px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.top-header {
  padding-top: 30px;
}
.what-is-today {
  color: floralwhite;
  font-weight: bold;
  list-style-type: none;
  text-align: right;
  padding-right: 15px;
  padding-top: 35px;
}
.your-choice {
  padding: 10px;
}
.col-5,
.col-7 {
  padding-bottom: 0px;
}
.conditions {
  font-size: 18px;
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0px;
  line-height: 2.5;
}
.skyNow {
  position: relative;
  top: -90px;
  font-size: 40px;
}
.myname {
  color: floralwhite;
  font-weight: bolder;
}
.my-info {
  color: floralwhite;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 25px;
}
